<link rel="stylesheet" href="<%=assetPath('css/comments.css')%>">
<li id="comment-<%=comment._id%>" class="comment-display">
        <p>
          <%= comment.content%>
        <br>
          <%= comment.user.name %>
        </p>
        
       <div class="comment-btns">
            <%if(locals.user){%>
                <a href="/likes/toggle/?id=<%=comment._id%>&type=Comment" data-likes="<%=comment.likes.length%>" class="like-btn-link">
                    <button class='like-btn' ><span id='like-count-<%= comment._id %>-Comment'><%=comment.likes.length%></span> &nbsp <i class="fa-solid fa-heart"></i> </button>
                </a>   
            <%}else{%>
                <button class='like-btn' ><span id='like-count-<%= comment._id %>-Comment'><%=comment.likes.length%></span> &nbsp <i class="fa-solid fa-heart"></i> </button>
            <%} %>

            <%if(locals.user && (  (locals.user.id==post.user.id) ||  (locals.user.id==comment.user.id)  ) ){%> 
                <a href="/comments/destroy/<%=comment._id%>" class="delete-comment-button">
                    <button class='delete-comment-btn' >Delete</button>
                </a>
            <%}%>
       </div>
</li>