 <!--  it is common for every page> Basically a layout is layer which is rendered along with page when called -->
 <!DOCTYPE html>
 <html>
 <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%=title%></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/layout.css'>
    <%-style%>
 </head>
 <body>
    <%-include ('_header');%>
    <!--body conatins variable part of pages> -->
     <%-body%> 
    <%-include ('_footer');%>
    <%-script%>
 </body>
 </html>
    