<link rel="stylesheet" href="/css/user_profile.css">


<img src="<%=user.avatar%>" alt="<%=user.name%>" width="200" height="200">

  <!-- no need to check locals.user bcoz password authentication is there -->
<% if(user.id==profile_user.id){%>
    <!-- if user matches then show the form  -->
    <form action="/users/update/<%=profile_user.id%>"enctype="multipart/form-data" method="post">
        <input type="text" placeholder="Your Name"   name="name" value="<%=profile_user.name%>"  required>
        <input type="email" placeholder="Your Email" name="email" value="<%=profile_user.email%>"  required>
        <input type="file" name="avatar" placeholder="profile-pitchure">
        <input type="submit" value="update">
    </form>
<%}else{%>
    <!-- only profle info -->
    <p><%=profile_user.name%></p>
    <p><%=profile_user.email%></p>
<%}%>

